@import url(https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:b);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:r,i);
@import url(https://fonts.googleapis.com/css?family=Cascadia+Mono:r,b);

::selection {background-color: #e03030; color: #ffffff;}
textarea::selection {background: #0078d7;}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}

h1 {
	font-family: 'Atkinson Hyperlegible';
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	margin: 20px auto
}

h2 {
	font-family: 'IBM Plex Sans';
	font-size: 22px;
	line-height: 1.4;
	font-weight: 400;
	margin: 20px auto;
}

button {
	font-family: 'IBM Plex Sans';
	font-size: 18px;
	display: block;
	margin: 19px auto 0;
}

a {
	color: #e03030;
}

a:hover {
	color: #a82424;
}

a:active {
	color: #701818;
}

#container {
	margin: 0 auto;
	max-width: 590px;
}

#messagebox {
	width: 590px;
	height: 140px;
	min-height: 56px;
	margin: 0 auto;
	padding: 4px;
	resize: vertical;
	font-family: 'Cascadia Mono';
	font-size: 20px;
	line-height: 1.4;
}

#back {
	position: fixed;
	top: 20px;
	left: 20px;
	font-family: 'Atkinson Hyperlegible';
	font-size: 28px;
	user-select: none;
}

#back > a {
	text-decoration: none;
}

#gray {
	color: #d0d0d0;
}

#cursive {
	font-style: oblique;
}