@import url(https://fonts.googleapis.com/css?family=Cascadia+Mono:300,600);

body {
	display: flex;
	flex-direction: row;
	margin: 0;
	background-color: #080808;
	color: #ffffff;
	font-family: 'Cascadia Mono';
	font-weight: 300;
	line-height: 1.5;
}

#container {
	display: flex;
}

#grid-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1004px;
	height: 1004px;
	margin: 37px;
	border: 1px solid #ffffff;
	background-color: #000000;
}

#grid {
	display: grid;
	width: 996px;
	height: 996px;
	gap: 4px;
}

#grid > div {
	width: 96px;
	height: 96px;
	background-size: 96px;
	background-color: #303030;
	cursor: pointer;
}

/* #info-popup {
	display: flex;
	z-index: 2;
	width: 700px;
	position: fixed;
	background-color: #000000;
	border: 1px solid #ffffff;
	top: 50%;
	left: 750px;
	transform: translate(-50%, -50%);
	font-size: 20px;
	line-height: 1.4;
	padding: 20px;
} */

#darkwhite {
	color: #c0c0c0;
}

#info-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 384px;
	height: fit-content;
	margin-top: 37px;
	margin-right: 36px;
	background-color: #ffffff;
	position: sticky;
	top: 37px;
}

#cover-box {
	width: 384px;
	height: 384px;
	border: 1px solid #ffffff;
}

#cover-image {
	display: none;
}

#info-box {
	display: block;
	width: 344px;
	background-color: #000000;
	border: 1px solid #ffffff;
	border-top: none;
	text-align: center;
	color: #505050;
	font-size: 22px;
	padding: 20px;
}

#noneselected {
	font-size: 22px;
}

#idk {
	font-size: 22px;
	text-align: left;
	color: #ffffff;
}

#rank, #title {
	font-weight: 600;
}

#fine-print {
	font-size: 18px;
	padding: 20px;
	background-color: #080808;
	text-align: center;
	color: #505050;
}

a {
	text-decoration: none;
	color: #ffffff;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #ten {grid-row: 1}
#eleven, #twelve, #thirteen, #fourteen, #fifteen, #sixteen, #seventeen, #eighteen, #nineteen, #twenty {grid-row: 2}
#twentyone, #twentytwo, #twentythree, #twentyfour, #twentyfive, #twentysix, #twentyseven, #twentyeight, #twentynine, #thirty {grid-row: 3}
#thirtyone, #thirtytwo, #thirtythree, #thirtyfour, #thirtyfive, #thirtysix, #thirtyseven, #thirtyeight, #thirtynine, #forty {grid-row: 4}
#fortyone, #fortytwo, #fortythree, #fortyfour, #fortyfive, #fortysix, #fortyseven, #fortyeight, #fortynine, #fifty {grid-row: 5}
#fiftyone, #fiftytwo, #fiftythree, #fiftyfour, #fiftyfive, #fiftysix, #fiftyseven, #fiftyeight, #fiftynine, #sixty {grid-row: 6}
#sixtyone, #sixtytwo, #sixtythree, #sixtyfour, #sixtyfive, #sixtysix, #sixtyseven, #sixtyeight, #sixtynine, #seventy {grid-row: 7} 
#seventyone, #seventytwo, #seventythree, #seventyfour, #seventyfive, #seventysix, #seventyseven, #seventyeight, #seventynine, #eighty {grid-row: 8}
#eightyone, #eightytwo, #eightythree, #eightyfour, #eightyfive, #eightysix, #eightyseven, #eightyeight, #eightynine, #ninety {grid-row: 9} 
#ninetyone, #ninetytwo, #ninetythree, #ninetyfour, #ninetyfive, #ninetysix, #ninetyseven, #ninetyeight, #ninetynine, #hundred {grid-row: 10}

#one, #eleven, #twentyone, #thirtyone, #fortyone, #fiftyone, #sixtyone, #seventyone, #eightyone, #ninetyone {grid-column: 1}
#two, #twelve, #twentytwo, #thirtytwo, #fortytwo, #fiftytwo, #sixtytwo, #seventytwo, #eightytwo, #ninetytwo {grid-column: 2}
#three, #thirteen, #twentythree, #thirtythree, #fortythree, #fiftythree, #sixtythree, #seventythree, #eightythree, #ninetythree {grid-column: 3}
#four, #fourteen, #twentyfour, #thirtyfour, #fortyfour, #fiftyfour, #sixtyfour, #seventyfour, #eightyfour, #ninetyfour {grid-column: 4}
#five, #fifteen, #twentyfive, #thirtyfive, #fortyfive, #fiftyfive, #sixtyfive, #seventyfive, #eightyfive, #ninetyfive {grid-column: 5}
#six, #sixteen, #twentysix, #thirtysix, #fortysix, #fiftysix, #sixtysix, #seventysix, #eightysix, #ninetysix {grid-column: 6} 
#seven, #seventeen, #twentyseven, #thirtyseven, #fortyseven, #fiftyseven, #sixtyseven, #seventyseven, #eightyseven, #ninetyseven {grid-column: 7}
#eight, #eighteen, #twentyeight, #thirtyeight, #fortyeight, #fiftyeight, #sixtyeight, #seventyeight, #eightyeight, #ninetyeight {grid-column: 8}
#nine, #nineteen, #twentynine, #thirtynine, #fortynine, #fiftynine, #sixtynine, #seventynine, #eightynine, #ninetynine {grid-column: 9}
#ten, #twenty, #thirty, #forty, #fifty, #sixty, #seventy, #eighty, #ninety, #hundred {grid-column: 10}

#one			{background-image: url(../img/topster/1.png)}
#two			{background-image: url(../img/topster/2.png)}
#three			{background-image: url(../img/topster/3.png)}
#four			{background-image: url(../img/topster/4.png)}
#five			{background-image: url(../img/topster/5.png)}
#six			{background-image: url(../img/topster/6.png)}
#seven			{background-image: url(../img/topster/7.png)}
#eight			{background-image: url(../img/topster/8.png)}
#nine			{background-image: url(../img/topster/9.png)}
#ten			{background-image: url(../img/topster/10.png)}
#eleven			{background-image: url(../img/topster/11.png)}
#twelve			{background-image: url(../img/topster/12.png)}
#thirteen		{background-image: url(../img/topster/13.png)}
#fourteen		{background-image: url(../img/topster/14.png)}
#fifteen		{background-image: url(../img/topster/15.png)}
#sixteen		{background-image: url(../img/topster/16.png)}
#seventeen		{background-image: url(../img/topster/17.png)}
#eighteen		{background-image: url(../img/topster/18.png)}
#nineteen		{background-image: url(../img/topster/19.png)}
#twenty			{background-image: url(../img/topster/20.png)}
#twentyone		{background-image: url(../img/topster/21.png)}
#twentytwo		{background-image: url(../img/topster/22.png)}
#twentythree	{background-image: url(../img/topster/23.png)}
#twentyfour		{background-image: url(../img/topster/24.png)}
#twentyfive		{background-image: url(../img/topster/25.png)}
#twentysix		{background-image: url(../img/topster/26.png)}
#twentyseven	{background-image: url(../img/topster/27.png)}
#twentyeight	{background-image: url(../img/topster/28.png)}
#twentynine		{background-image: url(../img/topster/29.png)}
#thirty			{background-image: url(../img/topster/30.png)}
#thirtyone		{background-image: url(../img/topster/31.png)}
#thirtytwo		{background-image: url(../img/topster/32.png)}
#thirtythree	{background-image: url(../img/topster/33.png)}
#thirtyfour		{background-image: url(../img/topster/34.png)}
#thirtyfive		{background-image: url(../img/topster/35.png)}
#thirtysix		{background-image: url(../img/topster/36.png)}
#thirtyseven	{background-image: url(../img/topster/37.png)}
#thirtyeight	{background-image: url(../img/topster/38.png)}
#thirtynine		{background-image: url(../img/topster/39.png)}
#forty			{background-image: url(../img/topster/40.png)}
#fortyone		{background-image: url(../img/topster/41.png)}
#fortytwo		{background-image: url(../img/topster/42.png)}
#fortythree		{background-image: url(../img/topster/43.png)}
#fortyfour		{background-image: url(../img/topster/44.png)}
#fortyfive		{background-image: url(../img/topster/45.png)}
#fortysix		{background-image: url(../img/topster/46.png)}
#fortyseven		{background-image: url(../img/topster/47.png)}
#fortyeight		{background-image: url(../img/topster/48.png)}
#fortynine		{background-image: url(../img/topster/49.png)}
#fifty			{background-image: url(../img/topster/50.png)}
#fiftyone		{background-image: url(../img/topster/51.png)}
#fiftytwo		{background-image: url(../img/topster/52.png)}
#fiftythree		{background-image: url(../img/topster/53.png)}
#fiftyfour		{background-image: url(../img/topster/54.png)}
#fiftyfive		{background-image: url(../img/topster/55.png)}
#fiftysix		{background-image: url(../img/topster/56.png)}
#fiftyseven		{background-image: url(../img/topster/57.png)}
#fiftyeight		{background-image: url(../img/topster/58.png)}
#fiftynine		{background-image: url(../img/topster/59.png)}
#sixty			{background-image: url(../img/topster/60.png)}
#sixtyone		{background-image: url(../img/topster/61.png)}
#sixtytwo		{background-image: url(../img/topster/62.png)}
#sixtythree		{background-image: url(../img/topster/63.png)}
#sixtyfour		{background-image: url(../img/topster/64.png)}
#sixtyfive		{background-image: url(../img/topster/65.png)}
#sixtysix		{background-image: url(../img/topster/66.png)}
#sixtyseven		{background-image: url(../img/topster/67.png)}
#sixtyeight		{background-image: url(../img/topster/68.png)}
#sixtynine		{background-image: url(../img/topster/69.png)}
#seventy		{background-image: url(../img/topster/70.png)}
#seventyone		{background-image: url(../img/topster/71.png)}
#seventytwo		{background-image: url(../img/topster/72.png)}
#seventythree	{background-image: url(../img/topster/73.png)}
#seventyfour	{background-image: url(../img/topster/74.png)}
#seventyfive	{background-image: url(../img/topster/75.png)}
#seventysix		{background-image: url(../img/topster/76.png)}
#seventyseven	{background-image: url(../img/topster/77.png)}
#seventyeight	{background-image: url(../img/topster/78.png)}
#seventynine	{background-image: url(../img/topster/79.png)}
#eighty			{background-image: url(../img/topster/80.png)}
#eightyone		{background-image: url(../img/topster/81.png)}
#eightytwo		{background-image: url(../img/topster/82.png)}
#eightythree	{background-image: url(../img/topster/83.png)}
#eightyfour		{background-image: url(../img/topster/84.png)}
#eightyfive		{background-image: url(../img/topster/85.png)}
#eightysix		{background-image: url(../img/topster/86.png)}
#eightyseven	{background-image: url(../img/topster/87.png)}
#eightyeight	{background-image: url(../img/topster/88.png)}
#eightynine		{background-image: url(../img/topster/89.png)}
#ninety			{background-image: url(../img/topster/90.png)}
#ninetyone		{background-image: url(../img/topster/91.png)}
#ninetytwo		{background-image: url(../img/topster/92.png)}
#ninetythree	{background-image: url(../img/topster/93.png)}
#ninetyfour		{background-image: url(../img/topster/94.png)}
#ninetyfive		{background-image: url(../img/topster/95.png)}
#ninetysix		{background-image: url(../img/topster/96.png)}
#ninetyseven	{background-image: url(../img/topster/97.png)}
#ninetyeight	{background-image: url(../img/topster/98.png)}
#ninetynine		{background-image: url(../img/topster/99.png)}
#hundred		{background-image: url(../img/topster/100.png)}